<app-toolbar></app-toolbar>
<p>{{ data | json }}</p>
<!-- Sojin -->
<div class="page">
    <div class="column">
        <mat-card>
            <mat-card-content>
                <span>Assigned Cases</span>
            </mat-card-content>
            <hr class="line-break">
            <mat-card-content>
                <button class="custom-button">Click Me</button>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="column">
        <mat-card>
            <mat-card-content>
                <span>Pending Review</span>
            </mat-card-content>
            <hr class="line-break">
            <mat-card-content>
                <button class="custom-button">Click Meeeeee eeeeee eee</button>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="column">
        <mat-card>
            <mat-card-content>
                <span>Completed Cases</span>
            </mat-card-content>
            <hr class="line-break">
            <mat-card-content>
                <button class="custom-button">Click Me</button>
            </mat-card-content>
        </mat-card>
    </div>
</div>