<app-toolbar></app-toolbar>
<!-- Sojin -->
<mat-card>
    <mat-card-title>Case List</mat-card-title>
    <mat-card-content>
        <!-- <input #fileInput type="file" (change)="onFileSelect($event)" accept=".pdf" style="display: none">
        <button mat-raised-button (click)="fileInput.click()" color="primary">
            <mat-icon>add</mat-icon>
            Upload New Case
        </button> -->
        <button mat-raised-button (click)="openUploadCaseDialog()" color="link">
            <mat-icon>add</mat-icon>
            Upload New Case
        </button>

        <div class="table-wrapper">
            <table mat-table [dataSource]="caseList">
                <!-- Case Name Column -->
                <ng-container matColumnDef="caseName">
                    <th mat-header-cell *matHeaderCellDef> Case Name </th>
                    <td mat-cell *matCellDef="let case"> {{case.caseName}} </td>
                </ng-container>
        
                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let case">
                        <button mat-button>View</button>
                        <button mat-button>Delete</button>
                    </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let case; columns: displayedColumns"></tr>
            </table>
        </div>
    </mat-card-content>
</mat-card>
