<form (ngSubmit)="onConfirmClick()">
    <h1 mat-dialog-title>Change Password</h1>
    <div mat-dialog-content>
       <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
       <mat-form-field>
        <mat-label>Current Password</mat-label>
        <input matInput type="password" id="oldPassword" name="oldPassword" [(ngModel)]="newPasswordData.oldPassword" required>
       </mat-form-field>
       <mat-form-field>
        <mat-label>New Password</mat-label>
        <input matInput type="password" id="newPassword" name="newPassword" [(ngModel)]="newPasswordData.newPassword" required>
       </mat-form-field>
       <mat-form-field>
        <mat-label>Confirm New Password</mat-label>
        <input matInput type="password" id="confirmNewPassword" name="confirmNewPassword" [(ngModel)]="newPasswordData.confirmNewPassword" required>
       </mat-form-field>
       <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    </div>
    <div mat-dialog-actions>
      <button mat-raised-button type="submit" color="primary">Save</button>
      <a (click)="onCloseClick()" mat-raised-button color="warn">Close</a>
    </div>
</form>