<h1>Change Password</h1>
<div class="container">
    <form (ngSubmit)="onConfirmClick()">
        <mat-form-field>
            <mat-label>Current Password</mat-label>
            <input matInput type="password" id="oldPassword" name="oldPassword" [(ngModel)]="newPasswordData.oldPassword" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>New Password</mat-label>
            <input matInput type="password" id="newPassword" name="newPassword" [(ngModel)]="newPasswordData.newPassword" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Confirm New Password</mat-label>
            <input matInput type="password" id="confirmNewPassword" name="confirmNewPassword" [(ngModel)]="newPasswordData.confirmNewPassword" required>
        </mat-form-field>
        <button *ngIf="!success" mat-raised-button type="submit" color="primary">Confirm</button>
    </form>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <div *ngIf="success" class="success-message">Password changed successfully!</div>
    <button *ngIf="success" mat-raised-button color="primary" (click)="onCloseClick()">Close</button>
</div>