<app-toolbar></app-toolbar>
<!-- Sojin -->
<div class="header-container">
    <h1>My Dashboard</h1>
</div>
<div class="card-container">
    <mat-card>
        <mat-card-title>My Assigned Cases</mat-card-title>
        <hr class="line-break">
        <mat-card-content>
            <!-- <button mat-raised-button color="primary" class="custom-button">Click Me</button> -->
            <p>None to display</p>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>Pending Review</mat-card-title>
        <hr class="line-break">
        <mat-card-content>
            <!-- <button mat-raised-button color="primary" class="custom-button">Click Meeeeee eeeeee eee</button> -->
            <p>None to display</p>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>Completed Cases</mat-card-title>
        <hr class="line-break">
        <mat-card-content>
            <!-- <button mat-raised-button color="primary" class="custom-button">Click Me</button> -->
            <p>None to display</p>
        </mat-card-content>
    </mat-card>
</div>
<div>
    <app-pdf-viewer></app-pdf-viewer>
</div>