<app-toolbar></app-toolbar>
<!-- Sojin -->
<div class="header-container">
    <h1>Dashboard</h1>
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
</div>
<div class="card-container">
    <mat-card>
        <mat-card-title>Assigned To Me</mat-card-title>
        <hr class="line-break">
        <mat-card-content>
            <ng-container *ngIf="newAssignedCases != null; else noAssignedCases">
                <div class="button-list">
                    <button
                    mat-button
                    color="primary"
                    class="custom-button"
                    *ngFor="let newAssignedCase of newAssignedCases"
                    (click)="caseClick(newAssignedCase)"
                    >
                    {{ newAssignedCase.case.caseName }}
                    </button>
                </div>
                </ng-container>
            <ng-template #noAssignedCases>
                <p>None to display</p>
            </ng-template>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>Pending Review</mat-card-title>
        <hr class="line-break">
        <mat-card-content>
            <ng-container *ngIf="pendingCases != null; else noPendingCases">
                <div class="button-list">
                    <button
                    mat-button
                    color="primary"
                    class="custom-button"
                    *ngFor="let pendingCase of pendingCases"
                    (click)="caseClick(pendingCase)"
                    >
                    {{ pendingCase.case.caseName }}
                    </button>
                </div>
                </ng-container>
            <ng-template #noPendingCases>
                <p>None to display</p>
            </ng-template>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>Completed Cases</mat-card-title>
        <hr class="line-break">
        <ng-container *ngIf="completedCases != null; else noCompletedCases">
            <div class="button-list">
                <button
                mat-button
                color="primary"
                class="custom-button"
                *ngFor="let completedCase of completedCases"
                (click)="caseClick(completedCase)"
                >
                {{ completedCase.case.caseName }}
                </button>
            </div>
            </ng-container>
        <ng-template #noCompletedCases>
            <p>None to display</p>
        </ng-template>
    </mat-card>
</div>