<!-- Sojin -->
<app-toolbar></app-toolbar>
<div class="parent-container">
  <div class="child-container">
    <app-pdf-viewer *ngIf="caseBlob" [pdfData]="caseBlob"></app-pdf-viewer>
    <p *ngIf="!caseBlob">Loading PDF...</p>
  </div>
  <div class="child-container">
    <ng-container *ngIf="!isReviewMode; else reviewMode">
      <app-form-view 
        *ngIf="caseAssignment"
        [caseAssignment]="caseAssignment"
        (formSubmitted)="updateCaseInfo($event)">
      </app-form-view>
    </ng-container>
    <ng-template #reviewMode>
      <app-reviewer-form-view
      *ngIf="caseAssignment"
      [caseAssignment]="caseAssignment"
      (formSubmitted)="submitCaseReview($event)">
    </app-reviewer-form-view>
    </ng-template>
  </div>
</div>