<!-- Sojin -->
<app-toolbar></app-toolbar>
<div class="parent-container">
    <div class="child-container">
      <mat-card class="child-card">
        <mat-card-content>
          <!-- <app-case-view [caseHash] = "caseHash"></app-case-view> -->
          <app-pdf-viewer [pdfData]="caseBlob"></app-pdf-viewer>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="child-container">
      <mat-card class="child-card">
        <mat-card-content>
          <app-form-view></app-form-view>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  