.form-container {
    flex-grow: 1;
    overflow-y: auto;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form-field {
    flex: 1;
    margin-right: 10px;
}

.text-area {
    flex: 1;
    margin-right: 10px;
}

mat-card-actions button {
    margin-right: 5px;
}

.button-row {
    position: sticky;
    bottom: 0;
    right: 0;
    justify-content: right;
}