<form (ngSubmit)="onConfirmClick()">
  <h1 mat-dialog-title>Confirm Changes</h1>
  <div mat-dialog-content>
     <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
     <mat-form-field>
      <mat-label>Enter Password</mat-label>
      <input matInput type="password" id="oldPassword" name="oldPassword" [(ngModel)]="passwordInput" required>
     </mat-form-field>
     <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button type="submit" color="primary">Save</button>
    <a (click)="onCloseClick()" mat-raised-button color="warn">Close</a>
  </div>
</form>