<h1>Confirm Changes</h1>
<p>Please enter your password.</p>
<div class="container">
  <form (ngSubmit)="onConfirmClick()">
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" id="passwowrd" name="password" [(ngModel)]="passwordInput" required>
    </mat-form-field>
    <button *ngIf="!success" mat-raised-button type="submit" color="primary">Confirm</button>
  </form>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  <div *ngIf="success" class="success-message">Information updated successfully!</div>
  <button *ngIf="success" mat-raised-button color="primary" (click)="onCloseClick()">Close</button>
</div>
