<mat-toolbar color="primary">
    <mat-toolbar-row>
      <a routerLink="/" class="logo-link">CollectiveGood</a>
      <span class="spacer"></span>
      <span>{{ activeUser?.name }}</span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/account">My Account</button>
        <button mat-menu-item (click)="clickLogout()">Log Out</button>
      </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>