<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a routerLink="/" class="logo-link">CollectiveGood</a>
    <span class="spacer"></span>
    <ng-container *ngIf="activeUser?.role === 'ADMIN'">
      <a mat-button routerLink="/admin/home">
        <mat-icon>admin_panel_settings</mat-icon> Admin
      </a>
    </ng-container>
    <a mat-button routerLink="/home">
      <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    <a mat-button routerLink="/account">
      <mat-icon>person</mat-icon> Account
    </a>
    <a mat-button routerLink="/help">
      <mat-icon>help</mat-icon> Help
    </a>
  </mat-toolbar-row>
</mat-toolbar>
